.graduate-panel{
    width: 75%;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    text-align: center;
    padding-bottom: 50px;
}

.graduate-panel img{
    width: 50%;
    margin-top: -80px;
    background-color: transparent;
}

.graduate-panel p{
    font-size: 20px;
}

.graduate-name{
    font-weight: 700;
}
.graduate-job-title{
    margin-top: 20px;
    font-weight: 500;
}
.graduate-description{
    margin-top: 20px;
    font-weight: 400;
    color: #707070;
    margin-left: 10%;
    margin-right: 10%;
}