.form-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.question-input{
    flex-direction: column;
    background-color: aquamarine;
    color: aqua;
    width: 150px;
    height: 100px;
}
