.form-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.have-questions-container{
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.have-questions-container img{
    width: 30%;
    margin-bottom: 20px;
}

.have-questions-container h1{
    font-size: 80px;
    font-weight: 700;
}

.have-questions-container p{
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
}
.question-input-send-question{
    background-color: whitesmoke;
    padding: 10px;
    width: 40%;
    height: 15%;
    border: 1px solid #252427;
    border-radius: 8px;
    margin: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.input-container{
    width: 100%;
}

.send-question-form{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row
}
.send-question-form input{
    flex-basis: 35%;
    height: 60px;
    border-radius: 10px;
    border: #252427;
    margin: 15px;
    flex-direction: row; 
}
.send-question-form button{
    border-radius: 30px;
    height: 70px;
    margin-top: 30px;
    width: 25%;
}
.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}