@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.about-container {
  margin-top: 100px;
}

.div-contact-us {
  text-align: center;
}

.about-underline {
  width: 300px;
  object-fit: contain;
}

.div-information {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  margin-top: 50px;
}

.mail-info {
    margin: 10px;
    text-align: center;
    flex-basis: 48%;
}

.phone-info {
    margin: 10px;
    text-align: center;
    flex-basis: 48%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.div-address {
  margin-top: 100px;
  text-align: center;
}
